.file-list {
  .ant-table {
    background: inherit;
    table {
      border-spacing: 0 15px;
    }
    .ant-table-thead {
      & > tr {
        & > th {
          padding: 0 16px;
          border: 0;
          background: inherit;
        }
      }
    }
    .ant-table-tbody > tr {
      padding: 14px 23px 14px 14px;
      box-shadow: 0 12px 34px 0 rgba(13, 19, 25, 0.05);
      background-color: #ffffff;
      border-spacing: 0 0 10px 0;
      border-radius: 8px;
      position: relative;
      & > td {
        border: 0;
      }
    }
  }
  .updated {
    position: absolute;
    right: -10px;
    top: -8px;
    button {
      cursor: pointer;
      outline: 0;
      width: 79px;
      font-size: 11px;
      padding: 3px 6px 3px 5px;
      background-color: #f5bd4e;
      border: 0;
      span {
        display: inline-block;
        margin-right: 2px;
        line-height: 1;
        font-size: 12Øpx;
      }
      &:hover,
      &:focus,
      &:active {
        color: #555;
      }
    }
  }
  .heading {
    margin: 0;
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .sub-heading {
    text-transform: uppercase;
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #838e9b;
  }
  .assigned-name {
    margin-bottom: 3px;
    display: block;
  }
  .file-progress {
    max-width: 170px;
  }
}
