.rectangle-box {
  flex-grow: 0;
  padding: 7px 11px 8px;
  border-radius: 6px;
  background-color: #f6f6f6;
  cursor: pointer;
  .rectangle-box-title {
    display: flex;
    align-items: center;
    flex-grow: 0;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #000000;
  }
  .rectangle-box-date {
    height: 11px;
    flex-grow: 0;
    font-size: 9px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #000000;
    margin-top: 6px;
  }
}
.rectangle-box-selected {
  background-color: #3362fa;
  .rectangle-box-title,
  .rectangle-box-date {
    color: #ffffff;
  }
}
