.ant-menu {
  &.booking-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    height: 100%;
    .menu-item {
      background: inherit;
      height: 100%;
      span.icon {
        margin-right: 5px;
        display: flex;
        align-items: center;
      }
      display: flex;
      align-items: center;
      &:hover,
      &:focus,
      &:active,
      &.ant-menu-item-selected {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  &.booking-mobile-menu {
    background: #333;
    border-radius: 3px;
    min-width: 170px;
    .menu-item {
      width: 100%;
      background: inherit;
      height: 100%;
      padding: 8px 20px;
      margin-bottom: 10px;
      &:hover,
      &:focus,
      &:active,
      &.ant-menu-item-selected {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
