.requirement-card {
  margin: 20px 0;
  padding: 8px 26px 8px 8px;
  border-radius: 6px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  .avatar {
    img {
      border-radius: 4px;
      overflow: hidden;
    }
  }
  .card-details {
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    .tags {
      margin-top: 3px;
    }
    .extra {
      margin-top: 10px;
    }
  }
}
